.link-back-home {
  font-size: 0.95rem;
  padding: 0.7em 1.3em;
  color: #fff;
  background: var(--color-primary);
  font-weight: 700;
  &:before {
    content: "←";
    display: inline-block;
    margin: 0 0.5em 0 -0.5em;
    opacity: 0.7;
  }
}
