$side-padding: 1.6rem;
$side-padding-sm: 1rem;
.post-list-empty {
  padding: 5rem 0;
  text-align: center;
  font-weight: 700;
  color: var(--color-base-text-lighter);
  font-size: 1.4rem;
}
.post-link {
  background: var(--color-card-background);
  border-radius: 3px;
  color: var(--color-card-text);
  display: flex;
  flex-flow: column;
  position: relative;

  &__author {
    padding: 1.6rem $side-padding 0;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 1.4;
    @include mq(sm) {
      padding: 1.4rem $side-padding-sm 0;
    }
  }

  &__main {
    padding: 1.1rem $side-padding 1.5rem;
    @include mq(sm) {
      padding: 1rem $side-padding-sm 1.2rem;
    }
  }

  &__date {
    font-size: 12px;
  }

  &__author-img {
    border-radius: 3px;
    margin-right: 0.7rem;
    object-fit: cover;
  }

  &__title {
    color: var(--color-card-headline);
    display: -webkit-box;
    flex: 1;
    font-size: 1.1rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__site {
    align-items: center;
    background: var(--color-card-tag-background);
    color: var(--color-card-tag-text);
    border-radius: 3px;
    display: inline-flex;
    margin-top: 0.9rem;
    font-size: 12px;
    padding: 0.5em;
  }

  &__site-favicon {
    border-radius: 3px;
    margin-right: 6px;
  }

  &__new-label {
    position: absolute;
    right: 1.6em;
    top: 1.6em;
    display: block;
    text-align: center;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 11px;
    font-weight: bold;
    color: var(--color-primary-text);
    @include mq(sm) {
      right: 1em;
      top: 1.4em;
      height: 20px;
      line-height: 20px;
      width: 34px;
      font-size: 10px;
    }
  }
}

.post-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .post-link {
    margin-top: 5%;
    width: 47.5%;
    @include mq(sm) {
      margin-top: 1.3rem;
      width: 100%;
    }
  }
}
.post-list-load {
  margin-top: 3rem;
  text-align: center;
}
.post-list-load__button {
  background: var(--color-primary-background);
  border-radius: 3px;
  color: var(--color-base-text-lighter);
  font-size: 0.9rem;
  font-weight: bold;
  overflow-anchor: none;
  padding: 0.9em 2em;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 5px 15px -10px rgb(31 18 53 / 60%);
  }
}
