.post-link {
  padding: 1.9rem 1.3rem;
  background: var(--color-base-background-lighter);
}
.post-link__author {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 1.4;
}
.post-link__date {
  color: var(--color-base-text-lighter);
  font-size: 12px;
}
.post-link__author-img {
  border-radius: 25%;
  margin-right: 0.7rem;
}
.post-link__title {
  margin-top: 1.2rem;
  font-size: 1.1rem;
}

.post-link__host {
  margin-top: 0.5em;
  color: var(--color-base-text-lighter);
  font-size: 0.85rem;
}

.post-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .post-link {
    margin-top: 4%;
    width: 31%;
  }
}
