.site-header {
  font-weight: bold;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background: var(--color-base-background);
  z-index: 99;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 1.5rem;
      border-radius: 3px;
      padding: 0 0.6em;

      &:hover {
        background: var(--color-primary-background);
      }
    }
  }

  &__links {
    align-items: center;
    display: flex;
  }

  &__link {
    font-size: 0.95rem;
    margin-left: 1.5rem;
  }
}
