.site-header {
  background: var(--color-base-background);
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
  font-weight: bold;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 99;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      border-radius: 3px;
      padding: 0.3rem 0.6em;

      &:hover {
        background: var(--color-primary-background);
      }
    }
  }

  &__link {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    &__item:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}
