.about {
  padding: 2.5rem 0;
}
.about__title {
  font-size: 2.3rem;
}
.about__body {
  margin-top: 1.5rem;
  p {
    margin-top: 1rem;
    opacity: 0.8;
  }
  a {
    text-decoration: underline;
  }
}
.about__actions {
  margin-top: 3.5rem;
  text-align: center;
}
.about__home-button {
  font-size: 0.92rem;
  padding: 0.7em 1.3em;
  color: #fff;
  font-weight: bold;
  background: var(--color-primary);
}
