.about {
  padding: 2.5rem 0;
}
.about__title {
  font-size: 2.3rem;
}
.about__body {
  margin-top: 1.5rem;
  p {
    margin-top: 1rem;
    opacity: 0.8;
  }
  a {
    text-decoration: underline;
  }
}
.about__actions {
  margin-top: 3.5rem;
  text-align: center;
}
