.error {
  padding: 3rem 0;
  text-align: center;
}
.error__status {
  font-size: 110px;
  font-weight: 700;
  line-height: 1.2;
}
.error__message {
  color: var(--color-base-text-lighter);
}
.error__actions {
  margin-top: 3rem;
}
