.error {
  padding: 3rem 0;
  text-align: left;
}
.error__status {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-primary-text);
}
.error__message {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-primary-text);
}
.error__actions {
  margin-top: 3rem;
}
