.home-hero {
  background: var(--color-section-background);
  margin-bottom: 2rem;
  padding: 2.7rem 0 2rem;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    color: var(--color-section-headline);
    font-size: 3.1rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    @include mq(xs) {
      font-size: 2.6rem;
    }
  }

  p {
    color: var(--color-section-text);
    margin: 0.4rem 0;

    a {
      color: var(--color-primary-text);
      text-decoration: underline;
    }
  }

  &__img {
    border: 3px solid var(--color-border);
    border-radius: 3px;
    margin-left: 2rem;
  }
}

.home-section-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  border-bottom: solid 1px var(--color-border-lighter);
}
.home-section-title {
  font-size: 1.7rem;
}
.home-section-link {
  font-size: 1.1rem;
  color: var(--color-primary-text);
}
.home-members {
  padding: 3rem 0;
}
.home-members-container {
  margin-top: 2rem;
}
