.home-hero {
  padding: 0;
}
.home-hero__title {
  font-size: 128px;
  margin-top:50px; 
  margin-bottom: 50px;
  line-height: 1.4;
  @include mq(xs) {
    font-size: 2.6rem;
  }
}
.home-hero__title_area{
  background-image: url(/category_hdg.dd78d5a9.jpg);
  background-size: cover;
  background-position: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  line-height: 1.6;
  word-break: break-all;
  text-align: center;
}
.home-hero__description {
  padding: 4rem 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-primary-text);
}
.home-hero__description_area{
  position: relative;

  &::before,
  &::after {
      content: "";
      display: block;
      position: absolute;
  }

  &::before {
      width: 100%;
      height: -webkit-fill-available;
      background-size: 10px 10px;
      background-image: radial-gradient(#7E98B1 5%,transparent 11%);
      background-color: transparent;
      top: 0;
      left: 0;
  }
}

.home-section-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  border-bottom: solid 1px var(--color-border);
}
.home-section-title {
  font-size: 1.7rem;
}
.home-section-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-primary-text);
}
.home-members {
  padding: 3rem 0;
}
.home-members-container {
  margin-top: 2rem;
}
