html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.7;
  @include mq(sm) {
    font-size: 15px;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--color-base-text);
  background: var(--color-base-background);
  word-break: break-word;
  word-wrap: break-word;
  font-family: "Roboto", "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}
p,
blockquote,
dl,
dd,
dt,
section {
  margin: 0;
}

a {
  text-decoration: none;
  transition: 0.25s;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  line-height: 1.5;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
hr {
  border: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  appearance: none;
  background: transparent;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  transition: 0.25s;
  padding: 0;
  margin: 0;
}
