:root {
  --color-base-background: #fff;
  --color-base-background-lighter: #e0efff;
  --color-base-text: #000;
  --color-base-text-lighter: #0e0ee0;
  --color-border:  #fff;
  --color-primary-background: #61e787;
  --color-primary-text: #000
}

