:root {
  --color-base-background: #111;
  --color-base-background-lighter: #24242d;
  --color-base-text: #fff;
  --color-base-text-lighter: rgba(212, 231, 241, 0.6);
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #9060ff;
  --color-primary-text: #b494ff;
}
