:root {
  --color-base-background: #ffffff;
  --color-base-background-lighter: #e8edf8;
  --color-base-text: #3c4554;
  --color-base-text-lighter: #808080;
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #2aa87f;
  --color-primary-text: #395acc;
}
