:root {
  --color-base-background: #ffffff;
  --color-base-background-lighter: #f5f5f5;
  --color-base-text: #000000;
  --color-base-text-lighter: #8896a4;
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #9060ff;
  --color-primary-text: #003366;
}
