.member-header {
  padding: 2rem 0;
  text-align: center;
}
.member-header__avatar-img {
  border-radius: 18px;
  object-fit: cover;
  object-position: 0 0;
}
.member-header__name {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.member-header__bio {
  display: inline-block;
  margin-top: 0.8rem;
  font-size: 0.9rem;
  max-width: 500px;
  opacity: 0.8;
}
.member-posts-container {
  padding-top: 1rem;
  border-top: solid 1px var(--color-border);
}
.member-header__links {
  margin-top: 0.6rem;
}
.member-header__link {
  margin: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: var(--color-base-background-lighter);
}
