name: Build Next.js app

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: package.json
          cache: yarn

      - run: yarn

      - run: yarn build
